.header {background:#f2f2f2;}
.header .left{width: 200px;float: left;    margin-top: 5px;}
.header .left span{font-size: 12px;color: #dc0201;}
.header .left a{font-size: 12px;color: #666;text-decoration: none;}
.header .right{overflow: hidden;width: 220px;float: right;}
.header .right ul{overflow: hidden;float: right;    margin-top: 5px;margin-bottom: 5px;}
.header .right ul li{float: left;list-style: none;margin-left: 10px;}
.header .right ul li a{text-decoration: none;color: #666;font-size: 12px;}
.content .title{margin-top: 30px;}
.content .c2{float: left;}
.content .c8{float: right;padding-left: 128px;}
.address{margin-top: 50px;margin-bottom:  50px;}
.address h2{font-size: 18px; color: #666;}
.address ul{overflow: hidden;margin-left: -39px;}
.address ul li{list-style: none;float: left;border: 1px solid #ccc;width: 252px; padding: 10px 15px;
	margin-right: 15px;height: 112px; position: relative;}
/*.address ul li:hover{border: 1px solid red;      width:240px;height:125px;                }
.address ul li:hover .box{display: block;}
.address ul li.active{border: 1px solid red;}
.address ul li .box{ display: none; width: 240px;height: 125px;background-repeat:  no-repeat;
position: absolute;right: 0;bottom: 0;}
.address ul li .box a{text-decoration: none;color: #7f86bf ;font-size: 14px; position: absolute;
    left: 20px; bottom: 6px;}*/
.address ul li.actived{ background: url(../images/red-frame.jpg) no-repeat; }
.address ul li:hover .box{display: block;}
.address ul li .box a{text-decoration: none;color: #7f86bf ;font-size: 14px; position: absolute;
    left: 20px; bottom: 6px;}
.address ul li .box{ display: none; width: 252px;height: 112px;/*background-repeat:  no-repeat;*/
position: absolute;right: 0;bottom: 0;}
.address ul li .on{display: block;}
.address ul li .on a{text-decoration: none;color: #7f86bf ;font-size: 14px; position: absolute;
    left: 20px; bottom: 6px;}
/*.address ul li .box img{position: absolute;right: -1px;bottom: 0;}*/
.address ul li span{font-size: 16px;color: #666;}
.address ul li p{font-size: 16px;color: #666;}
.address .newaddress{text-decoration: none;color: #666;font-size: 16px;border: 1px solid #666;padding: 5px 15px;}
.address .arrange{float: right;color: #7c86c2 ;font-size:16px;text-decoration: none; }
.confirm h2{font-size: 18px;color: #666;margin-top: 10px;}
.confirm thead{background-color: #fafafa;}
.confirm thead tr th{border: none;    padding-left: 13%;}
.confirm tbody{border: 1px solid #fafafa;}
.confirm tbody tr td p{color: #666;font-size: 16px; display: block; margin-left: 26%; margin-top: -22%;}
.confirm tbody tr td span{color: #ff3333;font-size: 16px;}
.confirm tbody tr td{    padding-top: 20px;padding-bottom: 40px;}
.confirm tbody tr td:nth-child(1){width: 32%;}
.confirm tbody tr td:nth-child(2){padding-left: 12.5%;padding-top: 4%;padding-right: 0;}
.confirm tbody tr td:nth-child(3){padding-left: 12.5%;padding-top: 4%;padding-right: 0;}
.confirm tbody tr td:nth-child(4){padding-left: 14%;padding-top: 4%;padding-right: 0;}
.confirm tbody tr td:nth-child(5){padding-left: 12.5%;padding-top: 4%;padding-right: 0;}
.confirm .bill{width: 1138px;background-color: #f0f0ff;    margin-left: 2px;    margin-top: -20px;}
.kuang{width: 15px;height: 15px;background-color: #e6e6e6;display: inline-block;cursor: pointer;}
.kuang1{width: 15px;height: 15px;background-color: #e6e6e6;display: inline-block;cursor: pointer;}
.kuang2{width: 15px;height: 15px;background-color: #e6e6e6;display: inline-block;cursor: pointer;}
.kuang3{width: 15px;height: 15px;background-color: #e6e6e6;display: inline-block;cursor: pointer;}
.kuang4{width: 15px;height: 15px;background-color: #e6e6e6;display: inline-block;cursor: pointer;}
.duigou{background: url(../images/duigou-1.png) no-repeat;background-position: 2px 0;}
.confirm .bill span.open{margin-top: -6%; display: block; margin-left: 6%;}
.confirm .bill .c4{margin-top: 10px;}
.confirm .bill .mid span{font-size: 14px; color: #999;}
.confirm .bill .mid p{display: inline-block;font-size: 14px; color: #999;}
.confirm .bill .mid input{width: 166px;background: url(../images/date.png) no-repeat; 
	background-position: 141px 4px; padding-left: 6px;    border: 1px solid #ccc;margin-left: 5px;}
.confirm .bill .mid input:focus{outline: none;}
.confirm .bill .mid .c10{margin-left: 21%;}
.confirm .bill .mid .fee{margin-top: 40px;}
.confirm .bill .mid .fee em{font-size: 14px; color: white;font-style: normal;background-color: #36ab67;
	line-height: 23px;    padding: 2px 9px;}
.confirm .bill .mid .fee i{font-size: 14px; color: #999;font-style: normal;}
.confirm .bill .right .c1{padding-left: 285px;}
.confirm .bill .right .c2{margin-top: 42px;padding-left: 304px;}
.confirm .bill .right .c3{margin-top: 70px;     margin-bottom: 15px; padding-left: 134px;}
.confirm .bill .right span{font-size: 16px;color: #ff3333;}
.confirm .bill .right i{font-style: 16px;color: #666;font-style: normal;}
.confirm .bill .right em{font-size: 16px;color: #666;font-style: normal;}
.confirm .bill .right p{font-size: 18px;color: #ff3333;display: inline-block;}
.content .payway{margin-top: 15px;}
.content .payway span{ margin-top: -23px; margin-left: 20px; display: block;}
.content .payway .c2{padding-left: 0;padding-right: 0;}
.content .payway .c3{padding-left: 80%;margin-top: 10px;}
.content .payway .add{width:251px;border: 1px solid red;padding-right: 8px;text-align: right;
	padding-top: 10px;   float: right; margin-top: 15px;}
.content .payway .add span{color: #666;font-size: 16px;margin: 0;display: inline;}
.content .payway .add i{font-size: 24px;color: red;font-style: normal;}
.content .payway .add p{font-style: 16px;color: #666;}
.content .payway .down{width: 251px;  float: right;margin-bottom: 50px;}
.content .payway .down a{text-decoration:none;}
.content .payway .down .btn{ background-color: red; color: white; border-radius: 0; margin-left: 77px;}
.content .payway .down .btn:focus{outline: none;}

.content .contact{overflow: hidden; margin-top: 15px;margin-bottom: 50px;}
.content .contact ul{overflow: hidden;    margin-left: -15px;}
.content .contact ul li{float: left;list-style:none;margin-top: 11px;margin-left:71px;}
.content .contact ul li:nth-child(1){margin-top: 0;margin-left: 0;}
.content .contact ul li:nth-child(7){margin-left: 154px;margin-top: -10px;text-align: center;}
.content .contact ul li p{font-size: 16px ;color: #666; margin-top: 10px;}
.content .contact ul li span{font-size: 18px;color: #dc0201;}
.content .contact ul li i{font-size: 14px; color: #666;font-style: normal;display: block;}
.content .contact ul li a{text-decoration: none;font-size: 12px;color: #999;display: block;margin-top: 6px;}




