<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物清单</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/shop_list-vue.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/shop_list-vue.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	
</head>
<body>
	<div class="header">
		<div class="top">
			<div class="container">
				<div class="left">
					<p>您好，欢迎光临诺贝思商城！</p>
				</div>
				<div class="right">
					<ul>
						<li><a href="login.html">注册</a></li>
						<li><a href="registra.html">登录</a></li>
						<li><a href="index.html">商城首页</a></li>
						<li><a href="#">个人中心</a></li>
						<li><a href="#">帮助</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="search row">
			<div class="container">
				<div class="col-md-2">
					<img class="imglogo" src="images/logo.png">
				</div>
				<div class="col-md-6">
					<input type="text" />
					<button class="btn"><img class="imgsearch" src="images/search.png"></button>
					<ul class="ul">
						<li><a href="#">床</a></li>
						<li><a href="#">沙发</a></li>
						<li><a href="#">餐桌椅</a></li>
						<li><a href="#">实木床</a></li>
						<li><a href="#">转角沙发</a></li>
						<li><a href="#">书柜</a></li>
					</ul>
				</div>
				<div class="col-md-4 c4">
					<div class="car col-md-6">
						<a href="shop_car.html"><img src="images/car.png"></a>
						<a href="shop_car.html">购物车</a>
						<!-- <button class="btn2">我的订单</button> -->
					</div>
					<div class="order col-md-6">
						<a href="order.html">我的订单</a>
					</div>
				</div>
			</div>
		</div>
		<div class="nav row">
			<div class="container">
				<div class="col-md-2 c2">
					<h2>全部商品分类</h2>
				</div>
				<div class="col-md-7 c7">
					<div class="col-md-2"><a href="#">家具城</a></div>
					<div class="col-md-2"><a href="#">新品上市</a></div>
					<div class="col-md-2"><a href="#">定制家具</a></div>
					<div class="col-md-2"><a href="#">体验馆</a></div>
					<div class="col-md-2"><a href="#">团购</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="content">
		<div class="container">
			<ul class="lead">
				<li><a href="#">首页</a> ></li>
				<li><a href="#">全部搜索结果 ></a></li>
				<li><a href="#">客厅家具 ></a></li>
				<li class="on"><a href="#">沙发</a></li>
			</ul>
			<div class="row sidebar">
				<div class="col-md-2 left">
					<ul>
						<li>商品分类</li>
						<li>价格</li>
						<li>风格</li>
						<li>品牌</li>
						<li>选购热点</li>
						<li>材质</li>
					</ul>
				</div>
				<div class="col-md-10 right">
					<div class="col-md-12 c12"><a href="#">沙发</a></div>
					<div class="col-md-12 c12">
						<ul>
							<li><a href="#">0-1000</a></li>
							<li><a href="#">1000-3000</a></li>
							<li><a href="#">3000-5000</a></li>
							<li><a href="#">5000-10000</a></li>
							<li><a href="#">10000-20000</a></li>
							<li><a href="#">20000以上</a></li>
							<li><input type="text">-<input type="text"><a class="cer" href="#">确定</a></li>
						</ul>
					</div>
					<div class="col-md-12 c12">
						<ul>
							<li><a href="#">现代风格</a></li>
							<li><a href="#">欧式田园</a></li>
							<li><a href="#">北欧风格</a></li>
							<li><a href="#">新古典</a></li>
							<li><a href="#">中式风格</a></li>
							<li><a href="#">简约风格</a></li>
							<li><a href="#">地中海风格</a></li>
							<li class="second"><a href="#">+多选</a></li>
							<li class="first"><a href="#">更多∨</a></li>
							
						</ul>
					</div>
					<div class="col-md-12 c12 c4">
						<ul>
							<li><a href="#"><img src="images/list-1.jpg"></a></li>
							<li><a href="#"><img src="images/list-2.jpg"></a></li>
							<li><a href="#"><img src="images/list-3.jpg"></a></li>
							<li><a href="#"><img src="images/list-4.jpg"></a></li>
							<li><a href="#"><img src="images/list-9.jpg"></a></li>
							<li><a href="#"><img src="images/list-10.jpg"></a></li>
							<li><a href="#"><img src="images/list-5.jpg"></a></li>
							<li><a href="#"><img src="images/list-6.jpg"></a></li>
							<li><a href="#"><img src="images/list-7.jpg"></a></li>
							<li><a href="#"><img src="images/list-8.jpg"></a></li>
							<li class="second"><a href="#">+多选</a></li>
							<li class="first"><a href="#">更多∨</a></li>
						</ul>
					</div>
					<div class="col-md-12 c12">
						<ul>
							<li><a href="#">客厅</a></li>
							<li><a href="#">北欧</a></li>
							<li><a href="#">地中海</a></li>
							<li><a href="#">简约</a></li>
							<li><a href="#">小户型</a></li>
							<li><a href="#">美式简约</a></li>
							<li><a href="#">中式雕花</a></li>
							<li class="second"><a href="#">+多选</a></li>
							<li class="first"><a href="#">更多∨</a></li>
						</ul>
					</div>
					<div class="col-md-12 c12">
						<ul>
							<li><a href="#">布艺</a></li>
							<li><a href="#">皮艺</a></li>
							<li><a href="#">实木</a></li>
							<li><a href="#">藤编</a></li>
							<li><a href="#">板木</a></li>
							<li><a href="#">其他材质</a></li>
							<li class="second"><a href="#">+多选</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="top">
					<ul>
						<li><a href="#">综合</a></li>
						<li><a href="#">销量</a></li>
						<li><a href="#">价格</a></li>
						<li><a href="#">评论数</a></li>
						<li><a href="#">上架时间</a></li>
					</ul>
				</div>
				<div class="down">
					<ul>
						<li>
						<div class="select">
							<span>配送至</span>
							<select id="province">
								<option>请选择地区</option>
							</select>
						</div>
						</li>
						<li><span>类型</span></li>
						<li><div class="box"><span class="kuang"></span><span>全部</span></div></li>
						<li><div class="box"><span class="kuang1"></span><span>诺贝思自营</span></div></li>
						<li><div class="box"><span class="kuang2"></span><span>第三方卖家</span></div></li>
					</ul>
				</div>
			</div>
			<div id="main">
				<div class="col-md-4 unit" v-for="item in list">
					<a href="###"><img :src="item.img"></a>
					<span class="a">{{item.a}}</span>
					<span class="price">{{item.price}}</span>
					<s>{{item.s}}</s>
					<span class="te" v-if="item.flag == true">{{item.te}}</span>
					<p>{{item.p}}</p>
					<span class="sail">{{item.sail}}</span>
					<span class="num">{{item.num}}</span>
					<span class="pin">{{item.pin}}</span>
					<div class="detail">
						<ul>
							<li>
								<span class="fk" :class="{duigou: item.check}" @click="itemClick(item)"></span> 对比
							</li>
							<li>
								<a href="#"><img src="images/shoucang.png"></a> <a href="#">收藏</a>
							</li>
							<li>
								<a href="###" @click="join(item)"><img src="images/shopcar.png"></a> <a class="join" href="###" @click="join(item)">加入购物车</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page">
				<nav aria-label="Page navigation">
				  <ul class="">
				    <li class="prev">
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo; 上一页</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li class="on"><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">···</a></li>
				    <li><a href="#">16</a></li>
				    <li class="next">
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">下一页 &raquo;</span>
				      </a>
				    </li>
				    <li class="last">跳转 <input type="text"> 页 <a href="">确定</a></li>
				  </ul>
				</nav>
			</div>
			<div class="guess">
				<div class="top">
					<span class="left">猜你喜欢</span>
					<a class="right" href="#"><img src="images/change.png"> 换一批</a>
				</div>
				<div class="matter">
					<div class="col-md-4 unit" v-for="item in line">
						<a href="###"><img class="img" :src="item.img"></a>
						<span class="price">{{item.price}}</span>
						<p>{{item.p}}</p>
						<span class="sail">{{item.sail}}</span>
						<span class="num">{{item.num}}</span>
						<span class="pin">{{item.pin}}</span>
						<div class="detail">
							<ul>
								<li>
									<span class="fang" :class="{duigou: item.check}" @click="itemClick(item)"></span> 对比
								</li>
								<li>
									<a href="#"><img src="images/shoucang.png"></a> <a href="#">收藏</a>
								</li>
								<li>
									<a href="###"><img src="images/car-1.png" @click="join(item)"></a> <a class="join" href="###" @click="join(item)">加入购物车</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="red">
				<ul>
					<li>
						<img src="images/red-1.png">
						<p>100%正品保证</p>
					</li>
					<li>
						<img src="images/red-2.png">
						<p>双重质检</p>
					</li>
					<li>
						<img src="images/red-3.png">
						<p>全球购</p>
					</li>
					<li>
						<img src="images/red-4.png">
						<p>7天无理由退款</p>
					</li>
					<li>
						<img src="images/red-5.png">
						<p>贵就赔</p>
					</li>
					<li>
						<img src="images/red-6.png">
						<p>万千口碑</p>
					</li>
				</ul>
			</div>
			<div class="contact">
				<ul>
					<li>
						<p>客服热线（24小时）</p>
						<span>400-820-8820</span>
						<p>QQ客服（24小时）</p>
						<span>8083159246</span>
					</li>
					<li>
						<i>关于诺贝思</i>
						<a href="#">公司简介</a>
						<a href="#">媒体新闻</a>
						<a href="#">线下体验馆</a>
						<a href="#">联系我们</a>
						<a href="#">诺贝思O2O</a>
					</li>
					<li>
						<i>购物指南</i>
						<a href="#">导购演示</a>
						<a href="#">订单操作</a>
						<a href="#">会员注册</a>
						<a href="#">账户管理</a>
						<a href="#">收货样品</a>
						<a href="#">会员等级</a>
					</li>
					<li>
						<i>配送安装</i>
						<a href="#">收货指南</a>
						<a href="#">物流配送</a>
						<a href="#">安装服务</a>
						<a href="#">体验馆服务器</a>
					</li>
					<li>
						<i>售后服务</i>
						<a href="#">7天无理由退货服务</a>
						<a href="#">如何申请退款</a>
						<a href="#">维修补见说明</a>
						<a href="#">贵就赔</a>
					</li>
					<li>
						<i>服务保障</i>
						<a href="#">正品保障</a>
						<a href="#">隐私保护</a>
						<a href="#">注册协议</a>
						<a href="#">免费申明</a>
					</li>
					<li>
						<p>官方微信</p>
						<a href="#"><img src="images/icon.jpg"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="top">
				<ul class="top-side">
					<li>热门城市：</li>
					<li><a href="#">北京家具</a></li>
					<li><a href="#">上海家具</a></li>
					<li><a href="#">广州家具</a></li>
					<li><a href="#">深圳家具</a></li>
					<li><a href="#">佛山家具</a></li>
					<li><a href="#">江门家具</a></li>
					<li><a href="#">天津家具</a></li>
					<li><a href="#">杭州家具</a></li>
					<li><a href="#">西安家具</a></li>
					<li><a href="#">重庆家具</a></li>
					<li><a href="#">汕头家具</a></li>
				</ul>
				<ul>
					<li>友情链接：</li>
					<li><a href="#">广州家居网</a></li>
					<li><a href="#">江门家具城</a></li>
					<li><a href="#">地产中国网</a></li>
					<li><a href="#">广州装潢网</a></li>
					<li><a href="#">广州淘房屋</a></li>
					<li><a href="#">房屋装修效果图</a></li>
					<li><a href="#">江门装潢网</a></li>
					<li><a href="#">深圳旅行社</a></li>
					<li><a href="#">广州人才网</a></li>
					<li><a href="#">广州短租公寓</a></li>
					<li><a href="#">广州旅行社</a></li>
				</ul>
			</div>
			<div class="down">
				<ul>
					<li><a href="#">装修效果图</a></li>
					<li><a href="#">家具图片</a></li>
					<li><a href="#">家具资讯</a></li>
					<li><a href="#">生活百科</a></li>
					<li><a href="#">家私导购</a></li>
					<li><a href="#">品牌展厅</a></li>
					<li><a href="#">装修论坛</a></li>
					<li><a href="#">客服中心</a></li>
					<li><a href="#">网站地图</a></li>
					<li><a href="#">友情链接</a></li>
					<li><a href="#">更多</a></li>
				</ul>
				<p>copyright@2013-2017Nuobeisi mail诺贝思商城版权所有 ICP备案证书号：粤ICP备08008384号</p>
			</div>
		</div>
	</div>
</body>
</html>